.block{display:block}
img[src="/Clients/VDH/VBeach/VBeach_Website.nsf/linksquare.gif"]{display:none}
img[src="/Clients/VDH/VBeach/VBeach_Website.nsf/NonSmoking.gif"]{border:none; background-image:url("http://dev.bowdenweb.com/od/cfa/vb-health-inspections/i/non-smoking-icon-017.gif"); background-repeat:no-repeat; background-position:0 0; width:17px; height:17px; }

